*{
    margin: 0;
    padding: 0;
}

.bod{
    width: 1050px;
    height: 450px;
    background-color: lightgrey;
    margin-top: 40px;
    margin-left:120px;
}

.inner{
    width: 1000px;
    height: 400px;
    background-color: black;
    margin-left: 20px;
}

.there{
    width: 300px;
    height: 200px;
    background-color: white;
    margin-left: 40px;
}

.otter{
    width: 300px;
    height: 50px;
    background-color: rgb(236, 135, 152);
}

.there p{
    line-height: 1.5;
}